body {
    background: white;
    color: rgb(8, 8, 8);
    font-size: 175%;
    font-family: 'Neuton', serif;
}
nav{
    font-family: 'Anton', sans-serif;
    font-size: 35px;
}
.kevin {
    width: 270px;
    height: 350px;
}
.seyani{
    width:270px;
    height: 350px;
}
a {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(19, 55, 122);
}
